.featuredProductBox{
	margin-top: 20px;
	background: #14273E;
}
.availSizeTitle{
    font-size: 16px;
	line-height: 18px;
	color: #FFF;
    margin-bottom: 0px;
}
.smallTitle{
    font-size: 12px;
	color: #FFF;
}
.allFeaturedProduct{
	white-space: nowrap;
	overflow-x: auto;
    overflow-y: hidden;
	display: flex;
	align-items: stretch;
}
.allFeaturedProduct::-webkit-scrollbar{
	display: none;
}
/* Desktop CSS */
@media screen and (min-width:568px) {
	.featuredProductBox{
		background: transparent;
	}
    .availSizeTitle{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #000;
    }
}