.featuredProductBox{
	margin-top: 20px;
	background: var(--MENU_HOVER_COLOR);
}
.availSizeTitle{
    font-size: 16px;
	line-height: 18px;
	color: #000;
    margin-bottom: 0px;
}
.smallTitle{
    font-size: 12px;
	color: #000;
}
/* Desktop CSS */
@media screen and (min-width:568px) {
	.featuredProductBox{
		background: transparent;
	}
    .availSizeTitle{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #000;
    }
}