.cartTitle {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.checkoutBox {
    background: #2C3646;
}
.totalAmtLabel {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #FFF;
}
.checkoutBtn {
    background: var(--PRIMARY_COLOR);
    color: var(--SECONDARY_COLOR);
    box-shadow: none;
    border: none;
    border-radius: 4px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
}