.categoryHeaderTitle{
    font-size: 20px;
    font-weight: 700;
}
.thumbItem img{
    height: 112px;
    width: 112px;
    border-radius: 6px;
    object-fit: cover;
}
.thumbName{
    color: #757575;
    font-size: 12px;
}