.categoryHeaderTitle{
    font-size: 25px;
    font-weight: 700;
}

.thumbItem img{
    height: 220px;
    padding: 10px 0px;
    border-radius: 6px;
    object-fit: cover;
}
.thumbName{
    color: #000;
    font-size: 15px;
}

.thumbName:hover {
    color: blue;
}
.shopAgeBox{
    background-color: white;
}