.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: center;
    gap: 0px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.cardContainer img {
    height: 120px;
    max-width: 70%;
    margin: 0 auto;
}

.arrow {
    background: currentColor;
    padding: 1px 15px;
    border-radius: 100px;
}

.backgroundGradientColor {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 20px;
    transform: translateY(20px);
}

.categoryHeaderTitle {
    font-size: 25px;
    font-weight: 700;
}

.thumbItem img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.lookingForContainer {
    height: 160px;
    max-height: 160px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
}

.thumbItem:hover .thumbName {
    font-weight: bold;
}

.thumbItem img {
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumbItem:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.thumbItem {
    padding: 0px 16px;
}

.thumbName {
    color: #000;
    font-size: 16px;
}

.thumbName:hover {
    font-weight: bold;
}


@media screen and (max-width:1000px) {
    .thumbItem {
        padding: 0px;
    }
}