
.topBrandContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    max-width: 850px;
    margin: 0 auto;
}

.topBrandContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px){
    .topBrandContainer{
        grid-template-columns: 1fr 1fr;
    }
}