.bannerContainer img {
    border-radius: 10px;
}

.heroBannerContainer {
    margin-top: -130px;
}

@media screen and (min-width: 1250px) {
    .heroBannerContainer {
        margin-top: 0px;
    }
}