/* Updated Review.module.css */

.mainContainerSlider{
    background-color: rgb(242, 242, 242);
    padding: 40px 0;
    margin: 0px !important;
}

.sliderContainer {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 1300px;
    max-width: 90%;
    margin: 10px auto; /* Center the container */
}

.reviewBtn {
    background: var(--PRIMARY_COLOR);
    border: none;
    border-radius: 5px;
}

.brandSilder {
    display: grid;
    grid-gap: 15px; /* Adjust the gap between items */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    margin: 10px 0;
}

.sliderItem {
    min-width: 250px;
    max-width: 280px;
    height: 300px; /* Adjusted for better sizing */
    background: #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease;
}

.sliderItem:hover {
    transform: translateY(-5px); /* Hover effect */
}

/* Responsive breakpoints for larger screens */
@media screen and (min-width: 700px) {
    .carousalBody {
        padding: 25px;
    }

    .sliderItem {
        height: 330px; /* Adjust the height for larger screens */
    }
}