.backBox{
    height: 60px;
    width: 40px;
    padding-top: 2px;
}
.backBox svg{
    height: 20px;
    width: 20px;
}
.PageHeader{
    height: 60px;
    background: var(--PRIMARY_COLOR);
}
.cartQtyCount{
    color: #FFF;
    z-index: 9;
    top: 10px;
    right: 2px;
    width: 18px;
    height: 18px;
    line-height: 17px;
    font-weight: 500;
    font-size: 12px;
    background-color: #E86339;
    border-radius: 50%;
}
.currentName{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}