:root{
  --PRIMARY_COLOR : #CF102E;
  --SECONDARY_COLOR : #FFF;
  --MENU_HOVER_COLOR : rgba(207,16,46,0.12);
  --ADD_BUTTON_COLOR : #CF102E;
}
body{
  background: #E7ECF2;
}
img{
  max-width: 100%;
}
.owl-carousel .owl-stage-outer .owl-stage{
  padding: 0 !important;
}
.galleryBox .owl-stage{
  display: flex;
  align-items: stretch;
}

.mouse-cursor {
  cursor: pointer;
}

/* owl  carousel left & right arrow */
.owl-nav {
  position: absolute;
  top: calc(50% - 50px);
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}

.owl-nav button {
  min-width: 40px;
}
.owl-nav span {
  font-size: 30px;
}

.carousel-looking-for .owl-nav button, .heroBanner .owl-nav button, .brandSilder .owl-nav button{
  position: absolute;
  background: var(--SECONDARY_COLOR) !important;
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: .2s;
}
.carousel-looking-for .owl-nav button.owl-prev, .brandSilder .owl-nav button.owl-prev {
left: -25px;
}
.carousel-looking-for .owl-nav button.owl-next, .brandSilder .owl-nav button.owl-next {
  right: -25px;
}
.carousel-looking-for .owl-nav button span, .brandSilder .owl-nav button span{
  color: var(--PRIMARY_COLOR);
  position: relative;
  top: -2px;
}
.carousel-looking-for .owl-nav button:hover, .brandSilder .owl-nav button:hover{
  background: var(--PRIMARY_COLOR) !important;
}
.carousel-looking-for .owl-nav button:hover span, .brandSilder .owl-nav button:hover span{
  color: var(--SECONDARY_COLOR);
}
.heroBanner .owl-nav button{
  background: transparent !important;
}
.heroBanner .owl-nav button.owl-prev {
  left: 15px;
}
.heroBanner .owl-nav button.owl-next {
  right: 15px;
}
.heroBanner .owl-nav button span{
  font-size: 80px;
  color: #FFF;
}
.brandSilder .owl-nav button.disabled{
  display: none !important;
}